{
  "presets": [["env", { "modules": false }]],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}



// {
//   "plugins": ["@babel/plugin-transform-modules-commonjs"] // npm con esto npm install --save-dev @babel/plugin-transform-modules-commonjs
// }