*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: bold;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box; /*borde y padding incluidos en el ancho de la caja*/
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}
.container{
    margin: auto; /*centrado*/
    width: auto;
    }

 .center{
    margin:auto;
    padding: 1.5%;
 }

 .style-input{
    width: 60%;
    margin-bottom: 3%;
    border-radius: 6px;
    }

 .border{
    border-radius: 5px;
    box-shadow: 2px 6px 5px 5px rgba(49, 172, 111, 0.562);
    border : 1px solid rgba(0, 0, 0, 0.164);
 }

 .block{    
    display:block;
 }

 .style-btn-login {
     margin-bottom: 5%;
     width: 30%;
     border-radius: 7px;
}
.btn-rss{
    margin-top: 2%;
    margin-right: 3%;
}

button:hover{
    color: rgb(7, 7, 7);
    background:rgba(49, 172, 111, 0.719);
}
.style-register{
    display: inline;
}
 
/*Considero que es mejor utilizar pixiles ya que al realizar zoom se distorsiona el layout*/
 @media screen and (min-width: 20em)/*360px*/ {
     .col-xs-12 { 
         width: 100% ;      
    }
    img{
        max-width: 30%;
    }
 }

 @media screen and (min-width: 30em) {
     .col-md-12 { 
         width: 100% ;
    }
 }
 @media screen and (min-width :37.5em) {
    .col-md-12 { 
         width: 100% ;
    }
 }

 @media screen and (min-width: 64em) /*1024px*/ {
    
     .col-lg-6{
        float: left; 
        width: 50%; 
     } 
     img{
        max-width: 100%;
    } 
 }



 /* .row{
    position: relative;
    margin: auto; 
    width: 100%;
    height: auto;
} */
/* .col-12 { width: 100% ;}
.col-11{
width: 91.6666666667%;
}
.col-10{
width: 83.3333333333%;
}
.col-9{
width: 75%;
}
.col-8{
width: 66.6666666667%;
}
.col-7{
    width: 58.3333333333%;
}
.col-6{    
    width: 50%;  
    }

 .col-5{
    float: right;
     width: 41.6666666667%;
 }
 .col-4{  
    width: 33.3333333333%;   
 }
 .col-3 {
    width: 25%;
 }
 .col-2{
width: 16.6666666667%;
 }
 .col-1{
width: 8.33333333333%;
 } */