.formulario1 {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: repeat(6, 2fr);
    max-height: 400px;
    grid-row-gap: 15px;
    margin: 10%;
}

.element-photo2 {
    grid-column: 2/4;
    height: 100%;
    margin-left: 20%;
}

.image-left,
.element-photo {
    height: auto;
    width: 100%;
}

.input2 {
    grid-column: 2/4;
    border: 1px solid rgb(136, 135, 135);
    height: 100%;
    width: 100%;
}

[contentEditable=false]:empty:not(:focus):before {
    content: attr(data-text)
}

.duo {
    grid-row: 6/7;
    height: 100%;
    width: 100%;
}

.editar {
    grid-column: 2/3
}

.guardar {
    grid-column: 3/4
}

.image-photo-edit {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.change-photo {
    position: absolute;
    height: 10%;
    width: 15%;
    left: 52%;
    top: 32%;
    z-index: 10;
}

.photograph {
    height: 50px;
    width: 50px;
    z-index: 10;
}

@media(min-width:768px) {
    .edit-body {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 12fr;
    }
    .aside-edit {
        grid-column: 1/2;
    }
    .photograph {
        height: 50px;
        width: 50px;
    }
    .edit-right {
        grid-column: 2/3;
    }
    .formulario1 {
        margin: 0 10%;
    }
}