@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    /* font-size: 16px; */
    text-align: center;
    box-sizing: border-box; /*borde y padding incluidos en el ancho de la caja*/    
    font-family: 'PT Serif', serif;
   
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center  
}
.height-100 {
    height: 100%;
}
.width-100 {
    width: 100%;
}
.display-flex{
    display: flex;
}
.display-flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .center{
    margin:auto;
    padding: 1.5%;
 }
 .style-input{
    width: 60%;
    margin-bottom: 3%;
    border-radius: 6px;
}
 .border{
    border-radius: 5px;
    box-shadow: 2px 6px 5px 5px rgba(231, 175, 175, 0.13);
    border : 1px solid rgba(0, 0, 0, 0.164);
 }
 .block{    
    display:block;
 }
 .style-btn-login {
    margin-bottom: 5%;
    width: 30%;
    border-radius: 7px;
}
.btn-rss{
    margin-top: 2%;
    margin-right: 3%;
    height: 36px;
    width: 36px
}
.btn-post {   
    margin: 0% 4% 0% 2%;
}
button:hover,select:hover{
    color: rgb(7, 7, 7);
    background: rgba(231, 175, 175, 0.233);
}
.style-register{
    display: inline;
}
.header-perfil{
    background: rgba(13, 93, 107, 0.226);
    color:rgba(24, 23, 23, 0.822);
    }
.margin-top{
    margin-top : 4%;   
}
.style-color-header{   
    border: 0.7px solid rgba(122, 48, 48, 0.31);  
  }
.edit-perfil{
    display: flex;
    flex-direction: column;
    /* margin-top: 0.1px; */
}
.style-header-perfil{
    color: white;
    padding: 1%;
}
.color-white{
    color: white;
}
.col-12{
    width: 100%;
    padding-bottom: 5rem;
}
.flex-container{
    display: flex;
    flex-direction: column;    
    padding: 2%;    
    /*width:85%;*/
}
.header-post {
    display: flex;
    text-align: center;
    flex-direction: row;
    /* height: 3rem;
    justify-content: center;  
    align-content: center     */
}
 .img-perfil-post {        
    height: 4rem;
    width: 4rem;
    border-radius: 50%;    
    border: 2px solid rgba(25, 84, 107, 0.089);
}
.img-post { 
    width: 25%;
    margin-top: 3%;       
    height: 1.5rem;
    border-radius: 30%;  
    margin-right: 0.5%;
    border: 1px solid rgba(0, 0, 0, 0.322);
}
#image-post:hover {
        box-shadow: 2px 4px 3px 3px rgba(16, 7, 36, 0.486); 
}
.textarea {
  resize:both;
  width: 100%;  
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  border:1px solid white;
}
.color {
    background: rgba(102, 4, 28, 0.048);
    color: rgb(24, 13, 13);
    border-radius: 3%;
}
.btn-post-create{
    margin-left: 2%;
    padding: 1%;
    background: white;
    color: black;
    border: 1px solid rgba(71, 70, 70, 0.247);
    /* border-radius: ; */
}
.style-title-post{
    color : rgba(56, 4, 4, 0.712);

}
.btn-header-main{
    background: rgba(119, 8, 26, 0.082);
    border: 0.5px solid rgba(119, 8, 26, 0);
    padding: 1%;
    
}
.style-content-footer{
    display: flex;
    padding: 2%;
    height: 4rem;
}
.img-post-prev{    
    /*height: 5rem;*/
    margin: 2%;
    width: 80%;
}
.progress{
  width: 15%;
  margin: 2%;
}
.margin-footer{
    margin:auto 5% auto 5%;
}
.style-content-post-img{
display: flex;
padding: 2%;
}
.opacity{
    opacity: 0;
}
.btn-post-edit-del{
    padding-left: 80%;
}
.color-fecha{
color: rgba(49, 53, 53, 0.514)
}
.textarea-coment{
    height: 3rem;
}
.color-menu-post{
    background: rgba(101, 221, 53, 0.116)
}
.size-state-post{
   margin-left: 75%;
   margin-bottom: 3%;
    width: 20%;
}
.color-content{
    background: rgba(229, 229, 229, 0.295);
}
.color-perfil{
    background:rgba(255, 255, 255, 0.692) ;
    /* height: 5rem; */
}
.conte-flex-perfil{    
    display: flex;
    flex-direction: row;   
}
.space-around {
    justify-content: space-around;
}
.cont-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.size-perfil{
     background:rgba(25, 84, 107, 0.089);    
    border: 0.5px solid rgba(25, 84, 107, 0.089);
}
.flex-header-post{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1%;   
    color: rgba(17, 5, 5, 0.637);
    background: white;
}
.style-cont-text-area{
   background: white;
   border: 0.2px solid rgba(159, 49, 49, 0.13)
}
.img-btn-post{
    height: 2.4rem;
}
.size-btn-img{
    width: 33.3333333333%; 
    display: flex;    
    justify-content: center;
    align-content: center;
}
/*color del contenedor de footer*/
.border-white{
    /*border:1px solid rgba(233, 210, 223, 0.452);*/
    background: rgba(231, 175, 175, 0.13);
    border: 0;
    font-size: 12px;
}
/* estilo btn file*/
.btn-file{
    width:100%;
    height: 2rem;
    opacity: 0.3;
}
.color-head-pink{
    background: rgba(231, 175, 175, 0.13);
}
.icono{
    width: 1rem;
    height: 1rem;
    margin-left: 2%;
}
.size-view-pos-list{
    display: flex;
     width: 50%;
     flex-direction: row;
     margin-left: 15%;
}
.header-post-btn-view{
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}
 @media screen and (min-width: 320px)/*360px-20em*/ {
     .col-xs-12 { 
      width: 100% ;      
    }
    .style-border{
        width: 100%;
    }
    .header-post{        
        text-align: center;       
    }
    .font-size-16 {
        font-size: 16px;
    }
    .img-login, .img-logo {
        width: 30%;
    }
    .btn-options {
        height: 1rem;
        width: 1rem;
        margin: 2px;
    }
    .container-options {
        display: flex;
        flex-direction: row;
        margin-left: 30%
    }   
 }

 @media screen and (min-width: 600px ) {
     .col-md-12 { 
         width: 100% ;
    }
    .header {
       font-size: 20px;
       display:inline-flex;
       justify-content : space-around;
       height: 50px;
       align-items: center;
       width: 100%;
       background-color:rgba(12, 83, 98, 1);
       color: white
   }
   .btn-options {
        height: 1.5rem;
        width: 1.5rem;
    }
    .container-options {
        display: flex;
        flex-direction: row;
        margin-left: 50%
    }
 }

 @media screen and (min-width: 800px ) {
    
    .container-options {
        display: flex;
        flex-direction: row;
        margin-left: 60%;
    }
}
 @media screen and (min-width: 1024px) /*1024px*/ {
    .col-lg-6 {
        float: left; 
        width: 50%; 
     } 
    img {
        max-width: 100%;
    }

    .img-login{
        width: 100%;
    }
    .img-logo {
        width: 70%;
    }
    .style-border{
        margin-top:3%;
        border-radius: 4%;
        padding: 4%;
        box-shadow: 2px 6px 5px 5px rgba(16, 7, 36, 0.486);
    }    
    .col-6{    
        width: 50%;  
    }
    .col-4{  
        width: 33%;   
        float: left;
        margin: 3%;
    }    
    .col-7{
        width: 40%;
        float: left;
        margin-left: 10%;
    }   
    .img-perfil-aside{
        width:70%;
        border-radius: 50%;  
        border: 2px solid rgba(25, 84, 107, 0.089);
    }    
    .container-options {
        display: flex;
        flex-direction: row;
        margin-left: 35%
    } 
    
 }
